.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    font-size: 16px;
}


.login_form{
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-width: 400px;
}



