.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    font-size: 16px;
    overflow: hidden;
}


.login_form{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 30px;
    min-width: 400px;
}

@media only screen and  (max-width: 800px) {
    .login_form{
        min-width: 60vw;
    }
}

@media only screen and  (max-width: 600px) {
    .login_form{
        min-width: 80vw;
    }
}
